*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline:none;
  border-radius: 6px;
}
.container{
  max-width: 450px;
  margin: auto;
}
.homepage form{
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
.homepage form input{
  margin-top: 1rem;
  padding: 1rem;
  width: 100%;
  border: 1px solid lightgrey;
}
.homepage form button{
  margin-top: 1rem;
  padding: 1rem;
  width: 70%;
  cursor: pointer;
}
.add{
  background: rgba(0,0,0,0.1);
}
.add form p{
  color: green;
  padding: 0.5rem 0;
  font-weight: 600;
}
.add form{
  display: flex;
  flex-flow: column;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  background: white;
  padding: 0 1rem;
}
.add form label{
  margin-top: 1rem;
  width: 100%;
}
.add form input{
  padding: 1rem;
  width: 100%;
  border: 1px solid lightgrey;
}
.add form textarea{
  width: 100%;
  padding: 1rem;
}
.file{
  position: relative;
  border: none!important;
}
.file::-webkit-file-upload-button{
  /* padding: 1rem; */
  visibility: hidden;
}
.add .file::before{
    content: 'MP4';
    position: absolute;
    left: 2.6rem;
    top: 0.3rem;
    background: #000;
    padding: 1rem;
    color: white;
    display: block;
    cursor: pointer;
}
.add button{
  transition: 0.3s;
  padding: 1rem;
  margin-top: 1rem;
  width: 70%;
  position: relative;
  cursor: pointer;
  background: rgb(0, 128, 0);
  color: white;
  border: none;
  font-size: 18px;
}
.add button:hover{
  background: rgb(22, 226, 22);
}
.lds-ring {
  display: inline-block;
  position: relative;
  top: -20px;
  left: -15px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 34px;
  height: 34px;
  /* margin: 8px; */
  border: 8px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.remove{
  width: 100%;
}
.remove a{
    display: block;
    width: fit-content;
    /* text-align: right; */
    background: orange;
    margin-left: auto;
    padding: 0.5rem 1rem;
    color: white;
    text-decoration: none;
    font-weight: 600;
    transition: 0.3s;
}
.remove a:hover{
  background: rgb(255, 181, 42);
}